{% extends "event/event.html" %}
{% block event %}
<div class="queue detail">
  <p class="subnav">
    <a href="{{ the_url('group.home') }}">{{ group.name }}</a> &raquo;
    <a href="{{ the_url('group.events') }}">Events</a> &raquo;
    {{ event.name }}
  </p>
  <h1>{{ event.name }}</h1>
  <p>{{ event.start.format('h:mm a') }} - {{ event.end.format('h:mm a') }} . {{ event.description }}</p>
  <p>Signups: {{ event.num_signups }}</p>
  <div class="action-cont col-md-12">
  {% if current_user.is_authenticated and current_user in event %}
    {% if current_user.can('edit_event') %}
    <a href="{{ the_url('event.edit') }}" class="button color sm">Edit Event</a>
    {% endif %}
    {% if not current_user.can('authorize') %}
      {% if signup.num_check_ins < event.setting('max_check_ins').value | int %}
    <p>Not checked in.</p>
      {% else %}
    <p>Checked in!</p>
      {% endif %}
    {% endif %}
  {% elif g.event.setting('enable_signups').is_active %}
  {% set max_signups = g.event.setting('max_signups') %}
    {% if not current_user.is_authenticated %}
    <span class="button gray sm">Login to Signup</span>
    {% elif g.event.num_signups < max_signups.value | int %}
    <a class="button color sm" href="{{ the_url('event.signup') }}">Signup</a>
    {% else %}
    <span class="button gray sm">Signup Cap Reached</span>
    {% endif %}
  {% endif %}
  {% if current_user.can('authorize') %}
  <a href="{{ the_url('event.accept_signup') }}" class="button sm color">Accept All</a>
  <a href="{{ the_url('event.filter_signup') }}" class="button sm color">Filter Signups</a>
  {% endif %}
  {% if current_user.can('edit_settings') %}
  <a href="{{ the_url('event.settings') }}" class="button color sm">Edit Settings</a>
  {% endif %}
  </div>
  {% for category in categories %}
  <h2>{{ category or 'Participant' }}</h2>
  <p>{{ signups[category] | length }} signups</p>
  <table>
    <tr>
      <td>Name</td>
      <td>Checkin</td>
      <td>Signups</td>
      {% if current_user.can('authorize') %}
      <td>Waitlisted Signups</td>
      <td>Non-Waitlisted Signups</td>
      {% endif %}
      {% if current_user.is_authenticated %}<td>Action</td>{% endif %}
    </tr>
    {% for signup in signups[category] %}
    <tr>
      <td><a href="{{ the_url('group.member', user_id=signup.user.id) }}">{{ signup.user.name }}</a></td>
      <td>{% if signup.user.can('authorize') %}<span class="button xs">Official</span>{% elif signup.is_checked_in %}<span class="dot green"></span>Checked In{% else %}<span class="dot red"></span>Not Checked In{% endif %}</td>
      <td>{{ signup.user.num_active_signups }}</td>
      {% if current_user.can('authorize') %}
      <td>{{ signup.user.num_waitlisted_signups }}</td>
      <td>{{ signup.user.num_non_waitlisted_signups }}</td>
      {% endif %}
      {% if current_user.is_authenticated %}
      <td>
        {% if current_user.can('authorize') %}
          {% if current_user.id != signup.user.id %}
        <a href="{{ the_url('event.deactivate_signup', signup_id=signup.id) }}" class="button xs warning">Delete</a>
          {% endif %}
          {% if not signup.category or signup.category == 'Waitlisted' %}
        <a href="{{ the_url('event.accept_signup', signup_id=signup.id) }}" class="button xs color">Accept</a>
          {% else %}
            {% if not signup.user.can('authorize') and signup.num_check_ins < event.setting('max_check_ins').value | int %}
        <a href="{{ the_url('event.checkin_signup', signup_id=signup.id) }}" class="button xs color">Checkin</a>
            {% endif %}
            {% if signup.user.can('authorize') %}
        <a href="{{ the_url('event.recategorize_signup', signup_id=signup.id) }}" class="button xs color">Recategorize</a>
            {% endif %}
          {% endif %}
        {% endif %}
        {% set min_signups = g.event.setting('min_signups') %}
        {% if current_user.id == signup.user.id %}
          {% if current_user.can('authorize') or (g.event.setting('enable_leave').is_active and (not min_signups.is_active or min_signups.value | int < event.num_signups)) %}
        <a href="{{ the_url('event.deactivate_signup', signup_id=signup.id) }}" class="button xs warning">Cancel</a>
          {% else %}
        <span class="button xs">Cancellation Disabled</span>
          {% endif %}
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    </table>
  {% endfor %}
{% endblock %}
