{% extends "event/event.html" %}
{% block event %}
<div class="queue detail">
  <p class="subnav">
    <a href="{{ the_url('group.home') }}">{{ group.name }}</a> &raquo;
    <a href="{{ the_url('group.events') }}">Events</a> &raquo;
    {{ event.name }}
  </p>
  <h1>{{ event.name }}</h1>
  <p>{{ event.start.format('h:mm a') }} - {{ event.end.format('h:mm a') }} . {{ event.description }}</p>
  <div class="action-cont col-md-12">
  {% if current_user.is_authenticated and current_user in event %}
    {% if current_user.can('edit_event') %}
    <a href="{{ the_url('event.edit') }}" class="button color sm">Edit Event</a>
    {% endif %}
    {% if not current_user.can('authorize') %}
      {% if signup.num_check_ins < event.setting('max_check_ins').value | int %}
    <a href="{{ the_url('event.checkin') }}" class="button color sm">Checkin</a>
      {% else %}
    <p>Checked in!</p>
      {% endif %}
    {% endif %}
    {% if current_user in g.event and g.event.setting('enable_leave').is_active %}
    <a href="{{ the_url('event.leave') }}" class="button warning sm">Leave event</a>
    {% endif %}
  {% elif g.event.setting('enable_signups').is_active %}
    {% if current_user.is_authenticated %}
    <a class="button color sm" href="{{ the_url('event.signup') }}">Signup</a>
    {% else %}
    <span class="button gray sm">Login to Signup</span>
    {% endif %}
  {% endif %}
  {% if current_user.can('edit_settings') %}
  <a href="{{ the_url('event.settings') }}" class="button color sm">Edit Settings</a>
  {% endif %}
  </div>
  {% for category in categories %}
  <h2>{{ category or 'Participant' }}</h2>
  <table>
    <tr>
      <td>Name</td>
      <td>Checkin</td>
      {% if current_user.can('authorize') %}
      <td>Action</td>
      {% endif %}
    </tr>
    {% for signup in categories[category] %}
    <tr>
      <td><a href="{{ the_url('group.member', user_id=signup.user.id) }}">{{ signup.user.name }}</a></td>
      <td>{% if signup.user.can('authorize') %}<span class="button xs">Event Official</span>{% elif signup.is_checked_in %}<span class="dot green"></span>Checked In{% else %}<span class="dot red"></span>Not Checked In{% endif %}</td>
      {% if current_user.can('authorize') %}
      {% if signup.category == 'Waitlisted' %}
      <td><a href="{{ the_url('event.accept', signup_id=signup.id) }}" class="button xs color">Accept</a></td>
      {% endif %}
      {% endif %}
    </tr>
    {% endfor %}
    </table>
  {% endfor %}
{% endblock %}
