{% extends "internal.html" %}
{% block main %}
<div class="queue">
<h1>Dashboard</h1>
<p>Hello! Here is a list of "pods" you're associated with.</p>
<table>
  <tr><th>Name</th></tr>
{% for group in groups %}
  <tr><td><a href="{{ the_url('group.home', group_url=group.url) }}">{{ group.name }}</a></td></tr>
{% endfor %}
{% if groups | length == 0 %}
<div class="queue-note">Looks like you've just joined! You can <a href="{{ the_url('dashboard.create_group') }}">create a group</a> to get started.</div>
{% endif %}
</table>
</div>
{% endblock %}
