{% extends "group/group.html" %}
{% block modules %}
<section class="sp-calendar module">
<!-- <h1 class="col-md-12">Events</h1> -->
<!-- {% if g.group.num_events == 0 %}
<p class="sp-byline">Looks like you've just created your group! Click to <a href="{{ the_url('group.create_event') }}">create an event</a>.</p>
{% endif %} -->
<!-- {% if current_user.can('create_event') %}
<div class="col-md-12">
  <a href="{{ the_url('group.sync', service='googlecalendar') }}" class="small-button">Google Calendar Sync</a>
  <a href="{{ the_url('group.import_signups') }}" class="small-button">Import Signups</a>
  <a href="{{ the_url('group.process') }}" class="small-button">Process Waitlists</a>
</div>
{% endif %} -->
<table class="calendar">
  <tr>
    {% for dow in dows %}
    <th class="dow">{{ dow.format('ddd D') }}</th>
    {% endfor %}
  </tr>
  <tr>
    {% for dow in dows %}
    <td>
      {% for event in events[dow.format('d')] %}
      <a href="{{ the_url('event.home', event_id=event.id) }}" class="event skyblue">
        <p class="event-time">{{ event.to_local('start', 'end').start.format('h:mm a') }} - {{ event.end.format('h:mm a') }}</p>
        <h2 class="event-title">{{ event.name }}</h2>
        <p class="event-byline">{{ event.num_non_waitlisted_signups }}{% if event.setting('min_signups').is_active %}/{{ event.setting('min_signups').value }}{% endif %} signups</p>
      </a>
      {% endfor %}
    </td>
    {% endfor %}
  </tr>
</table>
</section>
{% endblock %}
