{% extends "group/group.html" %}
{% block modules %}
<section class="sp-calendar module">
<!-- <h1 class="col-md-12">Events</h1> -->
<!-- {% if g.group.num_events == 0 %}
<p class="sp-byline">Looks like you've just created your group! Click to <a href="{{ the_url('group.create_event') }}">create an event</a>.</p>
{% endif %} -->
<!-- {% if current_user.can('create_event') %}
<div class="col-md-12">
  <a href="{{ the_url('group.sync', service='googlecalendar') }}" class="small-button">Google Calendar Sync</a>
  <a href="{{ the_url('group.import_signups') }}" class="small-button">Import Signups</a>
  <a href="{{ the_url('group.process') }}" class="small-button">Process Waitlists</a>
</div>
{% endif %} -->
<div class="calendar-head hidden-sm hidden-xs">
  <a href="{{ the_url('group.events', start=now.replace(weeks=-1).format('YYYYMMDD')) }}" class="cal-prev-arrow">&larr;</a>
  <a href="{{ the_url('group.events', start=now.replace(weeks=1).format('YYYYMMDD')) }}" class="cal-next-arrow">&rarr;</a>
  <h3>{{ now.format('MMMM YYYY')}}</h3>
</div>
<div class="cal-events hidden-lg hidden-md">
  <div class="cal-dates col-xs-2">
    {% for dow in dows %}
    <div class="cal-date">
      <span class="cal-date-no">{{ dow.format('D') }}</span>
      <span class="cal-date-mo">{{ dow.format('MMM') }}</span>
    </div>
    {% endfor %}
  </div>
  <div class="cal-list col-xs-10">
    {% for dow in dows %}
    <h3 class="cal-list-date">{{ dow.format('MMMM D') }}</h3>
    {% for event in events[dow.format('d')] %}
    <a href="{{ the_url('event.home', event_id=event.id) }}" class="event">
      <p class="event-time">{{ event.to_local('start', 'end').start.format('h:mm a') }} - {{ event.end.format('h:mm a') }}</p>
      <h2 class="event-title">{{ event.name }}</h2>
      <p class="event-byline">{{ event.num_non_waitlisted_signups }}{% if event.setting('min_signups').is_active %}/{{ event.setting('min_signups').value }}{% endif %} signups</p>
    </a>
    {% endfor %}
    {% endfor %}
  </div>
</div>
<table class="calendar hidden-sm hidden-xs">
  <tr>
    {% for dow in dows %}
    <th class="dow">{{ dow.format('ddd D') }}</th>
    {% endfor %}
  </tr>
  {% if events %}
  <tr>
    {% for dow in dows %}
    <td>
      {% for event in events[dow.format('d')] %}
      <a href="{{ the_url('event.home', event_id=event.id) }}" class="event">
        <p class="event-time">{{ event.to_local('start', 'end').start.format('h:mm a') }} - {{ event.end.format('h:mm a') }}</p>
        <h2 class="event-title">{{ event.name }}</h2>
        <p class="event-byline">{{ event.num_non_waitlisted_signups }}{% if event.setting('min_signups').is_active %}/{{ event.setting('min_signups').value }}{% endif %} signups</p>
      </a>
      {% endfor %}
    </td>
    {% endfor %}
  </tr>
  {% endif %}
</table>
{% if not events %}
<p class="banner">No events found!</p>
{% endif %}
</section>
{% endblock %}
