{% extends "group/group.html" %}
{% set panel='Events' %}
{% block panel %}
<div class="queue events">
<h1 class="col-md-6">Events</h1>
<div class="col-md-6">
  <a href="{{ the_url('group.import_signups') }}" class="tr-action right button sm compact color">Import Signups</a>
  <a href="{{ the_url('group.process') }}" class="tr-action right button sm compact color">Process Waitlists</a>
</div>
<table>
<tr><th>Name</th><th>Start</th><th>End</th><th class="hidden-xs">Time Until Start</th>{% if g.user.can('create_event') %}<th>Actions</th>{% endif %}</tr>
{% set pagination=g.group.events(page=page, per_page=10) %}
{% for event in pagination.items %}
<tr>
  <td><a href="{{ the_url('event.home', event_id=event.id, event_slug=event.url) }}">{{ event.to_local('start', 'end').name }}</a></td>
  <td>{{ event.start.format('h:mm a') }}</td>
  <td>{{ event.end.format('h:mm a') }}</td>
  <td class="hidden-xs">{{ event.start.humanize() }}</td>
  {% if g.user.can('create_event') %}<td>
    <a href="{{ the_url('event.delete', event_id=event.id, event_slug=event.url) }}" class="button xs compact warning">Delete</a>
    <a href="{{ the_url('event.edit', event_id=event.id, event_slug=event.url) }}" class="button xs compact color">Edit</a>
    <a href="{{ the_url('event.process', event_id=event.id, event_slug=event.url) }}" class="button xs compact color">Process</a>
  </td>{% endif %}
</tr>
{% endfor %}
{% if g.group.num_events == 0 %}
<p class="queue-note">Looks like you've just created your group! Click to <a href="{{ the_url('group.create_event') }}">create an event</a>.</p>
{% endif %}
</table>
<div class=pagination>
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a class="page-item" href="{{ url_for('group.events', page=page) }}"><span>{{ page }}</span></a>
      {% else %}
        <div class="page-item"><span>{{ page }}</span></div>
      {% endif %}
    {% else %}
      <span class=ellipsis>...</span>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}
