{% extends "group/group.html" %}
{% set panel='Home' %}
{% block panel %}
<div class="queue">
<!-- <p class="subnav">
  <a href="{{ the_url('dashboard.home') }}">Groups</a> &raquo;
  {{ group.name }}
</p> -->
<h1>{{ group.name }}</h1>
<p>{{ group.description }}</p>
<h2>Current Events</h2>
{% if g.group.current_events() | length == 0 %}
<div class="queue-note">Looks like there aren't any events happening right now!</div>
{% else %}
<table>
  <tr><th>Name</th><th>Start</th><th>End</th><th class="hidden=xs">Time Until Start</th></tr>
  {% for event in g.group.current_events() %}
  <tr>
    <td><a href="{{ the_url('event.home', event_id=event.id) }}">{{ event.name }}</a></td>
    <td>{{ event.to_local('start', 'end').start.format('h:mm a') }}</td>
    <td>{{ event.end.format('h:mm a') }}</td>
    <td class="hidden-xs">{{ event.start.humanize() }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
