{% extends "base.html" %}
{% block main %}
<p>
  <a href="{{ url_for('dashboard.home') }}">Groups</a> &raquo;
  {{ group.name }}
</p>
<h1>Welcome to {{ group.name }}</h1>
<a href="{{ url_for('group.edit') }}">Edit {{ group.name }}</a>
<a href="{{ url_for('group.create_event') }}">Create Event</a>
{% if current_user not in group %}
<a href="{{ url_for('group.signup') }}">Join</a>
{% endif %}
<p>Access Token: {{ group.access_token }}</p>
<h2>Events</h2>
{% for event in group.events %}
<li><a href="{{ url_for('event.home', event_id=event.id) }}">{{ event.name }}</a></li>
{% endfor %}
<h2>Members</h2>
{% for member in group.members %}
<li>{{ member.name }}</li>
{% endfor %}
{% endblock %}
