{% extends "event/event.html" %}
{% block event %}
<div class="queue detail">
  <p class="subnav">
    <a href="{{ the_url('group.home') }}">{{ group.name }}</a> &raquo;
    <a href="{{ the_url('group.members') }}">Members</a> &raquo;
    {{ membership.user.name }}
  </p>
  <h1>{{ membership.user.name }}</h1>
  <h2>Events</h2>
  <table>
    <tr>
      <td>Name</td>
      <td>Start</td>
      <td>End</td>
      <td>Checkin</td>
      <td>Category</td>
    </tr>
  {% for signup in membership.signups() %}
    {% if signup.event_id %}
    <tr>
      <td><a href="{{ the_url('event.home', event_id=signup.event.id)}}">{{ signup.event.name }}</a></td>
      <td>{{ signup.event.start.format('h:mm a') }}</td>
      <td>{{ signup.event.end.format('h:mm a') }}</td>
      <td></td>
      <td>{{ signup.category }}</td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>
{% endblock %}
