{% extends "event/event.html" %}
{% block event %}
<div class="event-main">
  <aside class="event-info col-md-4">
  <p class="subnav">
    <!-- <a href="{{ the_url('group.home') }}">{{ group.name }}</a> &raquo; -->
    <a href="{{ the_url('group.members') }}">Members</a> &raquo;
    {{ user.name }}
  </p>
  <h3>{% if membership %}{{ membership.role.name }}{% else %}<i>Unaffiliated Volunteer</i>{% endif %}</h3>
  <h1>{{ user.name }}</h1>
  <h4>Statistics</h4>
  <p>{{ total_checkins }} checkins</p>
  <p>{{ total_hours }} hours</p>
</aside>
<section class="event-attendees col-md-8">
  <h2>Events</h2>
  <table>
    <tr>
      <td>Name</td>
      <td>Date</td>
      <td>Checkin</td>
      <td>Category</td>
    </tr>
  {% for signup in user.signups_for_group(group_id=g.group.id) %}
    {% if signup.event_id %}
    <tr>
      <td><a href="{{ the_url('event.home', event_id=signup.event.id)}}">{{ signup.event.to_local('start').name }}</a></td>
      <td>{{ signup.event.start.format('MMM DD') }}</td>
      <td>{% if signup.is_checked_in %}Yes{% else %}<i>No</i>{% endif %}</td>
      <td>{{ signup.category }}</td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>
</section>
{% endblock %}
