{% extends "group/group.html" %}
{% set panel='Settings' %}
{% block panel %}
<div class="queue">
  <p>Available Roles (temporary display):</p>
  <ul>
  {% for r in g.group.roles() %}
  <li>{{ r.name }}</li>
  {% endfor %}
</ul>
{% for setting in settings %}
<form method="post" class="col-md-12">
  <h3>{{ setting.label }}</h3>
  <p>{{ setting.description | safe }}</p>
  <input type="hidden" name="id" value="{{ setting.id }}">
  <input type="text" name="value" value="{{ setting.value}} ">
  <input type="submit" class="button sm color" value="save">
</form>
{% endfor %}
</div>
{% endblock %}
