{% extends "base.html" %}
{% block main %}
<p>
  <a href="{{ url_for('dashboard.home') }}">Groups</a> &raquo;
  <a href="{{ url_for('group.home') }}">{{ group.name }}</a> &raquo;
  {{ event.name }}
</p>
<h1>Welcome to {{ event.name }}</h1>
<a href="{{ url_for('event.edit') }}">Edit {{ event.name }}</a>
{% if current_user in event %}
  {% if current_user.can('generate_code') %}
  <a href="{{ url_for('event.authorize') }}">Authorize</a>
  {% elif signup.num_check_ins < event.setting('max_check_ins').value | int %}
  <a href="{{ url_for('event.checkin') }}">Checkin</a>
  {% else %}
  Checked in!
  {% endif %}
{% else %}
<a href="{{ url_for('event.signup') }}">Signup</a>
{% endif %}
<h2>Participants</h2>
{% for participant in event.participants %}
<li>{{ participant.name }} {% if participant.is_checked_in %}(checked in){% endif %} {% if current_user.id == participant.id %}(<a href="{{ url_for('event.leave') }}">leave event</a>){% endif %}</li>
{% endfor %}
{% endblock %}
