{% extends "event/event.html" %}
{% block event %}
<div class="queue">
<p class="subnav">
  <a href="{{ url_for('group.home') }}">{{ group.name }}</a> &raquo;
  {{ event.name }}
</p>
<h1>Welcome to {{ event.name }}</h1>
{% if current_user.can('edit_event') %}
<a href="{{ url_for('event.edit') }}">Edit {{ event.name }}</a>
{% endif %}
{% if current_user in event %}
  {% if current_user.can('authorize') %}
  <a href="{{ url_for('event.authorize') }}">Authorize</a>
  {% elif signup.num_check_ins < event.setting('max_check_ins').value | int %}
  <a href="{{ url_for('event.checkin') }}">Checkin</a>
  {% else %}
  Checked in!
  {% endif %}
  <p><a href="{{ url_for('event.leave') }}">Leave event</a></p>
{% else %}
<a href="{{ url_for('event.signup') }}">Signup</a>
{% endif %}
<h2>Participants</h2>
{% for participant in event.participants %}
<li>{{ participant.user.name }} {% if participant.is_checked_in %}(checked in){% endif %}</li>
{% endfor %}
</div>
{% endblock %}
