{% extends "group/group.html" %}
{% set panel='Events' %}
{% block panel %}
<div class="queue">
<h1>Events</h1>
<table>
<tr><th>Name</th><th>Start</th><th>End</th><th class="hidden-xs">Time Until Start</th></tr>
{% for event in g.group.events %}
<tr>
  <td><a href="{{ the_url('event.home', event_id=event.id, event_url=event.url) }}">{{ event.to_local('start', 'end').name }}</a></td>
  <td>{{ event.start.format('h:mm a') }}</td>
  <td>{{ event.end.format('h:mm a') }}</td>
  <td class="hidden-xs">{{ event.start.humanize() }}</td>
</tr>
{% endfor %}
{% if g.group.events | length == 0 %}
<p class="queue-note">Looks like you've just created your group! Click to <a href="{{ the_url('group.create_event') }}">create an event</a>.</p>
{% endif %}
</table>
{% endblock %}
