{% extends "internal.html" %}
{% block main %}
<section class="event">
  <nav class="event-nav">
    <ul>
      {% for link in (
          (url_for('group.home'), 'Home'),
          (url_for('group.events'), 'Events'),
          (url_for('group.members'), 'Members'),
          (url_for('group.settings'), 'Settings', 'edit_group_settings'),
          (url_for('group.edit'), 'Edit', 'edit_group')) %}
      {% if link | length == 2 or g.user.can(link[2]) %}
      <li><a class="{% if link[1] == panel %}s{% endif %}" href="{% if link[1] != panel %}{{ link[0] }}{% else %}#{% endif %}">{{ link[1] }}</a></li>
      {% endif %}
      {% endfor %}
      {% if current_user not in group %}
      <li><a href="{{ url_for('group.signup') }}">Join</a></li>
      {% endif %}
      <p class="right nav-text hidden-xs">{% block subnav %}{% endblock %}</p>
    </ul>
  </nav>
  <i class="hidden-lg refresh dark event-refresh fa fa-refresh fa-spin"></i>
</section>
{% block panel %}
{% endblock %}
{% endblock %}
